@{ 
    ViewBag.Title = "My Portfolio";
}
<section id="team" class="wow fadeInUp">
    <div class="container">
        <div class="section-header text-center">
            <h2>My Portfolio</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/Content/intro-carousel/Team4.jpg" alt=""></div>
                    <div class="details">
                        <h4>Siyabonga Madide</h4>

                        <span>Junior C# Developer Graduand at Durban university of Technology,  Email: Siyabongamadide52@gmail.com,       Cellphone: 062 196 0358.</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/Content/intro-carousel/Team6Prof.jpg" alt=""></div>
                    <div class="details">
                        <h4>Siyabonga Melusi Madide</h4>

                        <span>Upon learning your search on the advertisement, I felt compelled to submit my resume for your review. As an enthusiastic and motivated individual, I am a self -motivated young man, who aims to strive and excel and committed to my work</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/Content/intro-carousel/Team2.jpg" alt=""></div>
                    <div class="details">
                        <h4>2021 BitCub Internship program</h4>

                        <span>I would like to be part of the 2021 BitCube Internship program to Advance my Skills.  I am Potential in learning from my task given. I am always focused to my work, willing to share my ideas and observation. I get along easily with people, able to work as a group and even smarter as an individual. </span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/Content/intro-carousel/Team1.jpg" alt=""></div>
                    <div class="details">
                        <h4>Siyabonga Madide</h4>

                        <span>I was ScrumMaster, full stack C# developer responsible for front end and back-end development also facilitating and updating Team Foundation Server (TFS) development tool for coders to upload their piece of code. </span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- #team -->
