<section id="intro">
    <div class="intro-content">
        <h2>Making <span>your ideas</span><br>happen!</h2>
        <div>
            <a href="@Url.Action("Create","Bookings")" class="btn-get-started scrollto">Get Started</a>
            <a href="@Url.Action("Contact","Home")" class="btn-projects scrollto">My Portfolio</a>
        </div>
    </div>
    <div id="intro-carousel" class="owl-carousel">
        <div class="item" style="background-image: url('/Content/intro-carousel/cute-picnic-food-define-picnic-delicious-picnic-food-cloth-wine-bottle-600x350.jpg');"></div>
    </div>
</section>
